@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
*{
    font-family: 'Finger Paint', cursive;
}
:root{
    font-size: 1em;
}
body{
    background-image: url(../img/Textura_background1.jpg);
    background-size: contain;
}
.transparent{
    background: rgba(0,0,0,0.7); 
}
.ContainerHome{
    margin-top: 5em;
}
.sizeTitle{
    font-size: 3em;
    font-weight: bold;
}
.PlayerSelect{
    height: 10vh;
}
.containerPlayerSelect{
    width: 80vw;
}
.containerTableGame{
    width: 70vw;
}
.boxTable{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}
.boxSelection{
    padding: 0.5em;
    height: 5.5em;
}
.ledTurn{
    width: 60%;
    border: solid 1px white;
    border-radius: 0.5em;
    height: 1.5em;
    margin: 0 auto;
}
.sizeBoxes{
    height: 5rem;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid 5px white;
    border-radius: 1rem;
    box-shadow: inset 5px 5px 2px black;
    color: white;
    cursor: pointer;
}
.rowPlayer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
}
.imgPlayer{
    display: flex;
    align-content: center;
    height: 6rem;
    border-radius: 1em;
}
.imgPlayerTableGame{
    visibility: hidden;
    display: none;
    height: 8rem;
}
.imgWin{
    height: 4em;
}
.marginWinner{
    margin-top: 2em;
    margin-bottom: 3em;
}
.textFooter{
    font-size: 0.4em;
    margin-top: 3em;
}

@media (min-width:375px){
    .textFooter{
        margin-top: 10em;
    }
}
@media (min-width:445px){
    .containerPlayerSelect{
        display: flex;
        justify-content: space-evenly;
    }
    .containerTableGame{
        width: 50vw;
    }
    .imgSize{
        width: 40%;
    }
}
@media (min-width:768px){
    .containerTableGame{
        width: 30vw;
    }
    .imgSize{
        width: 60%;
    }
    .sizeTitle{
        font-size: 4em;
    }
    .sizeNamePlayer{
        font-size: 1.5em;
    }
    .text-moves{
        font-size: 1.5em;
    }
    .rowPlayer{
        gap: 5em;
    }
    .imgPlayer{
        height: 25vh;
    }
    .marginWinner{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .textFooter{
        margin-top: 4em;
    }
}
@media (min-width:992px){
    .containerTableGame{
        width: 90vw;
        margin-top: 2em;
    }
    .sizeBoxes{
        height: 6rem;
        font-size: 6rem;
    }
    .boxPlayer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sizeNamePlayer{
        font-size: 2em;
    }
    .ledTurn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        width: 70%;
        height: 2em;
        margin: 0.5em;
    }
    .imgSize{
        width: 60%;
    }
    .sizeTitle{
        font-size: 5em;
    }
    .boxSelection{
        width: 20em;
    }
    .imgPlayer{
        height: 30vh;
    }
    .imgPlayerTableGame{
        visibility: visible;
        display: block;
        height: 8rem;
    }
    .marginWinner{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .textFooter{
        margin-top: 2.5em;
    }
}
@media (min-width:1300px){
    .sizeBoxes{
        height: 8rem;
        font-size: 7rem;
    }
    .boxSelection{
        width: 25em;
    }
    .marginWinner{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .imgWin{
        height: 6em;
    }
    .textFooter{
        font-size: 0.9em;
        margin-top: 4em;
    }
}
